body,
html,
table {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-width: 780px;
}
table{
    border-spacing:0;
}
/*头部*/
.header {
  background-color: #030b4f;
  width: 100%;
  text-align: center;
  height: 125px;
}
.header img {
  width: 55px;
  vertical-align: text-bottom;
}
.header-title {
  color: white;
  font-size: 38px;
  font-family: "宋体";
  font-weight: bold;
}
/*左侧列表*/
.coffee-list {
  width: 300px;
  float: left;
  height: 100%;
  padding: 0;
  background-color: #eff3fc;
}
.coffee-list ul {
  padding-left: 50px;
  line-height: 30px;
}

.coffee-list ul li a {
  font-family: "宋体";
  font-weight: bolder;
}
.no-line {
    text-decoration: none;
    color: black;
  }
/*右侧内容*/
.coffee-content{
    padding: 0;
}
.coffee-content p {
  font-size: 25px;
  font-family: "宋体";
  font-weight: bolder;
}
.coffee-content img {
  width: 96%;
  padding: 5px 10px;
}
/*底部*/
.buttom {
  background-color: #030b4f;
  width: 100%;
  height: 25px;
  text-align: center;
}
.buttom span {
  color: white;
  font-family: "宋体";
  font-weight: bold;
}

